@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Idroid";
    src: url("fontes/idroid.otf") format('opentype');
}

:root {
    --cabecalho: #38c979;
    --corpo: #84e1ad;
    --nav: #057739;
    --titulos:  #045729;
    --texto:  #012411;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Idroid', cursive;

}

* {
    margin:  0px;
    padding: 0px;
}


body {
    background-color: var(--corpo);
    font-family: var(--fonte-padrao);
    font-size: 1em;
    
}

header {
    background-color: var(--cabecalho);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header p {
    color: white;
}

nav {
    background-color: var(--nav);

}

main{
    background-color: white;
}

main h1 {
    color: var(--titulos);
    font-family: var(--fonte-android)
}

main h2 {
    color: var(--titulos);
    font-family: var(--fonte-android);

}
footer{
    background-color: var(--texto);
    color: white;
}
